<?php header("Content-type: text/html; charset=utf-8");?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Vanuatu Visa</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta content="" name="">
		<link rel="apple-touch-icon-precomposed" href=""/>
		<link rel="shortcut icon" href=""/>
		<link rel="stylesheet" type="text/css" href='../../www/common.css'>
		<script type="text/javascript" src=""/>
		<script type="text/javascript" src=""/>
		<script type="text/javascript" src=""/>
		<script type="text/javascript">
			$(document).ready(function(){
				
			});
		</script>
	</head>
	<body>
		<div id="step_menu" style="display:inline;">
			<a href="">basic info</a>
			<a href="">passport info</a>
			<a href="">travel info</a>
			<a href="">other info</a>
		</div>
		<p></p>
		<div id="filling_info">
			<form id="travel_form" method="POST" action="">
				<p>11、Purpose of Visit 访瓦目的:<br>
				Tourism旅游<input type="radio" name="purpose" value=""/>
				Visiting Relative探亲<input type="radio" name="purpose" value=""/>
				Business商务<input type="radio" name="purpose" value=""/>
				Other 其他<input type="radio" name="purpose" value=""/></p>
				<p>12、Address in Vanuatu 在瓦地址:
				<input type="text" name="destination"/></p>
				<p>13、Details of Family in Vanuatu if visiting relative 如属探亲在瓦亲属概况:<br>
				Name 姓名:
				<input type="text" name="relative_name"/>
				Add. 地址:
				<input type="text" name="relative_addr"/></p>
				<p>14、Details of arrival in Vanuatu抵瓦航班号:
				<input type="text" name="arrival_number"/>
				日期:
				<input type="text" name="arrival_date"/></p>
				<p>15、Details of return ticket 回程航班号:
				<input type="text" name="return_number"/>
				日期:
				<input type="text" name="return_date"/></p>
				<p>16、Proposed duration of stay 拟在瓦逗留时间:
				<input type="text" name="duration"/></p>
				<p>17、Source of financial support in Vanuatu 在瓦费用来源:
				<input type="text" name="financial_source"/></p>
			</form>
		</div>
	</body>
</html>