input {
	font-size:18px;
	text-align:center;
	line-height:15px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	background: #FFFFF0;
}

#filling_info input {
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:dotted;
	border-left-style:none;
	border-bottom-color:#000000;
	border-bottom-width:1px;
}

table {
	border-collapse:collapse;
	border:1px solid;
}

th, td {
	border:1px solid;
	padding:2px;
	font-weight: normal;
}

#filling_info {
	border: 1px dotted #000;
	width: 800px;
	height: 100%;
	background: #FFFFF0;
	margin: auto;
}

#next_step {
	position: relative;
	float: right;
}
